<html>
  <body>
    <header style="background-color: rgb(69, 165, 255);">
        <h1 style="color: white; font-size: x-large; padding: 15px;">Mini Messageboard</h1>

    </header>
    <div style="display: flex;justify-content: center;padding-top: 50px;">
    <form method="post" action="/new" style="display: flex;flex-direction: column; gap: 25px;">
      <input placeholder="Message..." style="border-radius: 10px;width: 400px; height: 40px;border: 1px solid  rgb(69, 165, 255);" type="text" name="messageText" />
      <input placeholder="Utilisateur..." style="border-radius: 10px;width: 400px; height: 40px;border: 1px solid  rgb(69, 165, 255) ;" type="text"
       name="messageUser" />
      <button type="submit" style="width: 400px; height: 40px;background-color: rgb(69, 165, 255) ; color: white;font-weight: bold;border: none; padding: 8px;border-radius: 10px">Envoyer</button>
    </form>
</div>
    <footer style="background-color: rgb(69, 165, 255);position: absolute; bottom: 1; width: 100svw;">
        <h3 style="color: white; font-size: small; font-weight: 500; padding: 10px;">© 2025 Tous droits réservés</h3>
    </footer>
  </body>
</html>

